<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries" xdt:Transform="Insert"/>
    </rules>
  </nlog>
  <connectionStrings>
    <add name="BomContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=BomDb.mdf;Integrated Security=True"
         xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>